# Default ignored files
/shelf/
/workspace.xml
.DS_Store
.idea/.gitignore
.idea/analytics-cloud-export-api-wrapper.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
dist/.DS_Store
docs/.DS_Store


# SPDX-FileCopyrightText: 2019 Jane Doe <jane@example.com>
#
# SPDX-License-Identifier: Apache-2.0